.filter-checkbox ~ .alert {
  display: none;
}

.filtered-stars:checked ~ .watch_started {
  display: block;
}

.filtered-wiki:checked ~ .gollum {
  display: block;
}

.filtered-forks:checked ~ .fork {
  display: block;
}

.filtered-org:checked ~ .team_add {
  display: block;
}

.filtered-comments:checked ~ .issues_comment,
.filtered-comments:checked ~ .commit_comment {
  display: block;
}

.filtered-repositories:checked ~ .create,
.filtered-repositories:checked ~ .push {
  display: block;
}

.filtered-issues:checked ~ .issues_opened,
.filtered-issues:checked ~ .issues_closed {
  display: block;
}

.filter-checkbox {
  position: absolute;
  -webkit-appearance: none;
}

.filter-checkbox:focus, .filter-checkbox:active {
  outline: none;
}

.filter-checkbox:checked + .filter-label {
  border-color: #08c;
}

.filter-label {
  cursor: pointer;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 20px;
  display: inline-block;
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  border-radius: 3px;
}

.filter-label:hover {
  box-shadow: 0 0 2px 0 #5cf;
}
