.by_followed_people.commit_comment,
.by_internet.commit_comment,
.by_followed_people.create,
.by_internet.create,
.by_followed_people.follow,
.by_internet.follow,
.by_followed_people.fork,
.by_internet.fork,
.by_followed_people.git-branch,
.by_internet.git-branch,
.by_followed_people.gollum,
.by_internet.gollum,
.by_followed_people.issues_closed,
.by_internet.issues_closed,
.by_followed_people.issues_comment,
.by_internet.issues_comment,
.by_followed_people.issues_labeled,
.by_internet.issues_labeled,
.by_followed_people.issues_opened,
.by_internet.issues_opened,
.by_followed_people.issues_reopened,
.by_internet.issues_reopened,
.by_followed_people.issues_merged,
.by_internet.issues_merged,
.by_followed_people.public,
.by_internet.public,
.by_followed_people.push,
.by_internet.push,
.by_followed_people.release,
.by_internet.release,
.by_followed_people.repo,
.by_internet.repo,
.by_followed_people.tag,
.by_internet.tag,
.by_followed_people.team_add,
.by_internet.team_add,
.by_followed_people.member_add,
.by_internet.member_add,
.by_followed_people.watch_started,
.by_internet.watch_started,
.by_followed_people.sponsor,
.by_internet.sponsor {
  display: none;
}

.show_starred_and_followed_by .watch_started.by_internet,
.show_starred_and_followed_by .follow.by_internet {
  display: block;
}

.show_sponsored_by .sponsor.by_followed_people,
.show_sponsored_by .sponsor.by_internet {
  display: block;
}

.show_forked_by .fork.by_internet,
.show_forks .fork.by_followed_people {
  display: block;
}

.show_stars_and_follows .watch_started.by_followed_people,
.show_stars_and_follows .follow.by_followed_people {
  display: block;
}

.show_open_source .repo.by_followed_people,
.show_open_source .create.by_followed_people,
.show_open_source .public.by_followed_people {
  display: block;
}

.show_releases .tag,
.show_releases .release {
  display: block;
}

.show_code .gollum,
.show_code .git-branch,
.show_code .issues_merged,
.show_code .push {
  display: block;
}

.show_conversations .issues_comment,
.show_conversations .commit_comment,
.show_conversations .issues_opened,
.show_conversations .issues_labeled,
.show_conversations .issues_closed,
.show_conversations .issues_reopened {
  display: block;
}

.show_administration .team_add,
.show_administration .member_add {
  display: block;
}

.js-recent-activity-container + details {
  float: left;
  margin-bottom: -6px;
  margin-right: 10px;
  margin-top: -3px;
}
