#dashboard .news > .commit_comment,
#dashboard .news > .create,
#dashboard .news > .follow,
#dashboard .news > .fork,
#dashboard .news > .git-branch,
#dashboard .news > .gollum,
#dashboard .news > .issues_closed,
#dashboard .news > .issues_comment,
#dashboard .news > .issues_labeled,
#dashboard .news > .issues_opened,
#dashboard .news > .issues_reopened,
#dashboard .news > .public,
#dashboard .news > .push,
#dashboard .news > .release,
#dashboard .news > .repo,
#dashboard .news > .tag,
#dashboard .news > .team_add,
#dashboard .news > .member_add,
#dashboard .news > .watch_started {
  display: none;
}

#dashboard.show_starred_and_followed_by .news > .watch_started.by_internet,
#dashboard.show_starred_and_followed_by .news > .follow.by_internet {
  display: block;
}

#dashboard.show_forked_by .news > .fork.by_internet {
  display: block;
}

#dashboard.show_stars_and_follows .news > .watch_started.by_followed_people,
#dashboard.show_stars_and_follows .news > .follow.by_followed_people {
  display: block;
}

#dashboard.show_forks .news > .fork.by_followed_people {
  display: block;
}

#dashboard.show_open_source .news > .repo.by_followed_people,
#dashboard.show_open_source .news > .create.by_followed_people,
#dashboard.show_open_source .news > .public.by_followed_people {
  display: block;
}

#dashboard.show_releases .news > .tag,
#dashboard.show_releases .news > .release {
  display: block;
}

#dashboard.show_code .news > .gollum,
#dashboard.show_code .news > .git-branch,
#dashboard.show_code .news > .push {
  display: block;
}

#dashboard.show_conversations .news > .issues_comment,
#dashboard.show_conversations .news > .commit_comment,
#dashboard.show_conversations .news > .issues_opened,
#dashboard.show_conversations .news > .issues_labeled,
#dashboard.show_conversations .news > .issues_closed,
#dashboard.show_conversations .news > .issues_reopened {
  display: block;
}

#dashboard.show_administration .news > .team_add,
#dashboard.show_administration .news > .member_add {
  display: block;
}

.js-recent-activity-container + details {
  float: left;
  margin-bottom: -6px;
  margin-right: 10px;
  margin-top: -3px;
}
