#dashboard .watch_started,
#dashboard .gollum,
#dashboard .fork,
#dashboard .team_add,
#dashboard .issues_comment,
#dashboard .commit_comment,
#dashboard .create,
#dashboard .public,
#dashboard .push,
#dashboard .follow,
#dashboard .issues_opened,
#dashboard .issues_labeled,
#dashboard .issues_closed {
  display: none;
}

#dashboard.show_stars .watch_started {
  display: block;
}

#dashboard.show_wiki .gollum {
  display: block;
}

#dashboard.show_follow .follow {
  display: block;
}

#dashboard.show_forks .fork {
  display: block;
}

#dashboard.show_org .team_add {
  display: block;
}

#dashboard.show_comments .issues_comment,
#dashboard.show_comments .commit_comment {
  display: block;
}

#dashboard.show_repositories .create,
#dashboard.show_repositories .public,
#dashboard.show_repositories .push {
  display: block;
}

#dashboard.show_issues .issues_opened,
#dashboard.show_issues .issues_labeled,
#dashboard.show_issues .issues_closed {
  display: block;
}

.filter-label {
  display: block;
  padding: 4px 10px 4px 30px;
}
