.button-group.dashboard-filters {
  margin-bottom: 20px;
  display: block;
}

.dashboard-filters.filter-empty:after {
  content: "No events of this type.";
  display: block;
  text-align: center;
  padding: 60px 0;
  width: 100%;
  border-radius: 3px;
  position: relative;
  top: 20px;
  background: #f5f5f5;
}

.dashboard-filters.filter-empty {
  padding-bottom: 20px;
}

.dashboard-filters ~ .alert {
  display: none;
}

.news.filtered-stars .watch_started {
  display: block;
}

.news.filtered-forks .fork {
  display: block;
}

.news.filtered-comments .issues_comment {
  display: block;
}

.news.filtered-repositories .create {
  display: block;
}

.news.filtered-issues .issues_opened,
.news.filtered-issues .issues_closed {
  display: block;
}
